body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 6rem;
}
.title{
    font-weight: 400;
    font-size: 3.8rem;
    color: rgb(57, 57, 85);
}
.value{
    margin-top: -1.5rem;
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
    color: rgb(48, 48, 66);
}
button{
    background-color: white;
    width: 6.4rem;
    padding: 0.3rem;
    margin-right: 0.9rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    color: rgb(48, 48, 66);
}
button:hover{
    border: white;
    color: black;
}